#contact_modal {
  display: none;
}

.photographer_header .infos {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.photographer_header h2 {
  color: #d3573c;
  font-size: 70px;
  margin-bottom: 0;
  font-weight: 400;
  margin-top: 0;
}

.photographer_header p:nth-of-type(1) {
  color: #901C1C;
  font-size: 25px;
  margin: 0;
}

.photographer_header p:nth-of-type(2) {
  opacity: 60%;
  margin-bottom: 0;
}

.photographer_header img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photographer_portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-row-gap: 20px;
  justify-content: space-between;
  margin: 80px 100px;
}

.photographer_portfolio .media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.photographer_portfolio .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
}

.photographer_portfolio img, .photographer_portfolio video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.photographer_portfolio .details h2 {
  font-weight: 400;
}

.photographer_portfolio .details p {
  font-weight: 700;
  font-size: 20px;
}

.lightbox {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}

.lightbox .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
  width: 995px;
  position: relative;
}

.lightbox .slider .fa-chevron_left, .lightbox .slider .fa-chevron_left {
  font-size: 50px;
  color: #901C1C;
  cursor: pointer;
}

.lightbox .slider img, .lightbox .slider video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0 40px;
  border-radius: 5px;
}

.lightboxMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lightbox .slider .fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  color: #901C1C;
  cursor: pointer;
}

.lightbox .div-title {
  display: flex;
  justify-content: center;
  text-align: start;
  width: 100%;
}

.lightbox .div-title h2 {
  color: #901C1C;
  margin: 0;
  margin-top: 30px;
  width: 855px;
}
